<!-- templates/arr.tmpl -->
<html>
<body>
    <p>hello, {{.title}}</p>
    {{range $index, $element := .stuArr }}
    <p>{{ $index }}: {{ $element.Name }} is {{ $element.Age }} years old</p>
    {{ end }}
</body>
</html>